.userProfileCard {
    display: flex !important;
    flex-direction: row !important;
    position: absolute;
    justify-content: space-evenly;
}

.userProfileList {
    width: 60%;
    position: absolute;
    margin-left: 20%;
}

.userProfileHeader {
    text-align: center;
}

.userProfileImage {
    cursor: pointer;
    width: 200px;
}

.adminButtons {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.adminButton {
    width: 170px;
}

.userProfileInfo {
    padding-top: 5%;
    width: 320px;
}

.userProfileToggleButton {
    height: 40px;
    width: 210px;
}

.userProfileFullName {
    cursor: pointer;
}

.userProfileDetailsCard {
    height: 600px;
    margin-left: 35%;
    width: 440px;
}

.userProfileDetailsImage {
    height:300px;
}

.userProfileCardButton {
    width: 30%;
}

.userProfileDetailsSpinner {
    height: 7em !important;
    margin-left: 45%;
    margin-top: 15%;
    width: 7em !important;
}